name: ngoquangduong/node

on:
  push:
    branches: [ master ]
    paths:
      - node/*
      - .github/workflows/node.yml
  schedule:
    - cron: '0 7 1,15 * *'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build node --file node/Dockerfile --tag ngoquangduong/node:latest
    - name: Publish the Docker image
      env:
        DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      run: |
        echo $DOCKER_HUB_ACCESS_TOKEN | docker login --username ngoquangduong --password-stdin
        docker push ngoquangduong/node:latest
